main {
  flex-direction: column;

  .breadcrumb_wrapper {
    background: #f8f8f8;
    padding: 1rem;

    .breadcrumb {
      width: 100%;
      max-width: 60rem;
      margin: auto;
      display: flex;
      height: 2rem;
      align-items: center;
      color: #f8294f;

      p {
        margin-inline-start: 0.5rem;
        padding-inline-start: 0.5rem;
        border-inline-start: 1px solid #f8294f;
        font-family: 'Museo';
      }
    }
  }

  .speakers_list_wrapper {
    background: #f8f8f8;
    padding: 1rem;

    .speakers_list {
      width: 100%;
      max-width: 60rem;
      margin: auto;
      display: flex;
      flex-direction: column;

      &__speaker {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        pointer-events: auto;

        &>* {
          pointer-events: none;
        }

        .id {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .name-place {
            h2 {
              font-family: 'Museo';
              color: #230A4D;
              font-weight: 300;
            }

            p {
              color: #f8294f;
              font-family: 'LeagueSpartan';
              font-variation-settings: 'wght' 300;
            }
          }

          img {
            height: 5rem;
            border-radius: 2.5rem;
          }
        }

        .subject {
          display: none;
        }

        .hour-room {
          display: none;
        }

        a {
          display: none;
        }

        &.active {
          background-color: #f1ede8;

          .id {
            margin-block-end: 1rem;

            .name-place {
              line-height: 1.5rem;

              h2 {
                color: #f8294f;
              }

              p {
                display: none;
              }

              @media (min-width: 36rem) {
                padding: 0;

                h2:first-of-type {
                  font-weight: 500;
                }
              }
            }

            @media (min-width: 36rem) {
              margin-block-end: 2rem;
            }

            img {
              @media (min-width: 36rem) {
                display: none;
              }
            }
          }

          .subject {
            display: flex;
            flex-direction: column;
            line-height: 150%;

            h2 {
              margin-bottom: 0.25rem;
            }

            margin-block-end: 1rem;
          }

          .hour-room {
            display: flex;
            position: relative;
            bottom: -1.5rem;

            time {
              padding-inline: 0.5rem;
              border-inline-end: 1px solid #230A4D;
              margin-inline-end: 0.5rem;
            }

            @media (min-width: 36rem) {
              position: static;
              margin-block-end: 1rem;

              time {
                padding-inline-start: 0;
              }

              time::before {
                display: none;
              }
            }
          }

          a {
            width: 50%;
            display: inline;
            text-decoration: none;
            color: red;
            padding-block: 0.25rem;
            padding-inline: 1rem;
            border: 1px solid red;
            border-radius: 1rem;
            text-align: end;
            align-self: end;

            @media (min-width: 36rem) {
              width: 100%;
            }
          }

          //speakers_list_speaker.active
          @media (min-width: 36rem) {
            padding: 1rem;
          }
        }

        //.speakers_list__speaker
        @media (min-width: 36rem) {
          padding: 0;

          .id {
            order: 1;
            flex-direction: column;
            align-items: start;

            .name-place {
              padding: 1rem;
            }

            img {
              order: -1;
              width: 100%;
              height: auto;
              aspect-ratio: 1/1;
              border-radius: 0;
            }
          }

          .subject {
            order: 3;
          }

          .hour-room {
            order: 2;
          }

          a {
            order: 4;
          }
        }
      }

      //.speakers_list
      @media (min-width: 36rem) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
      }

      //.speakers_list
      @media (min-width: 48rem) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  .speaker_application {
    width: 100%;
    max-width: 60rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    &__title {
      color: #f8294f;
      text-align: center;
      text-transform: uppercase;
      font-family: 'LeagueSpartan';
      font-size: 2rem;
      font-variation-settings: 'wght' 600;
      margin-block-start: 2rem;
      margin-block-end: 1rem;
    }

    &__tagline {
      width: 70%;
      margin-inline: auto;
      text-align: center;
      font-family: 'Museo';
      font-size: 1.5rem;
      font-weight: 300;
      margin-block-end: 1rem;
      line-height: 150%;
    }

    &__explanation {
      text-align: center;
      font-variation-settings: 'wght' 400;
      line-height: 150%;
      margin-block-end: 2rem;
    }

    &__form {
      display: flex;
      flex-direction: column;

      label {
        display: none;
      }

      input {
        padding: 0.5rem 0rem;
        border: none;
        border-block-end: 2px solid #EAEAEA;
        margin-block-end: 1rem;

        &::placeholder {
          color: #000;
          font-family: 'Maven';
          font-size: 1.25rem;
        }

        &:nth-of-type(5) {
          height: 8rem;
          border: 2px solid #EAEAEA;
          padding: 1rem;
          margin-block-start: 1rem;

          &::placeholder {
            font-size: 1rem;
          }
        }

        &:last-of-type {
          color: #f8294f;
          border: 1px solid #f8294f;
          border-radius: 4rem;
          padding-inline: 2rem;
          background: #fff;
          text-transform: uppercase;
          font-family: 'LeagueSpartan';
          font-size: 1.25rem;
          width: fit-content;
          margin-inline: auto;
          margin-block-start: 3rem;
          margin-block-end: 3rem;
        }
      }

      @media (min-width: 36rem) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "n m"
          "s k"
          "d d"
          "b b";
        gap: 0 2rem;

        input:nth-of-type(1) {
          grid-area: n;
        }

        input:nth-of-type(2) {
          grid-area: m;
        }

        input:nth-of-type(3) {
          grid-area: s;
        }

        input:nth-of-type(4) {
          grid-area: k;
        }

        input:nth-of-type(5) {
          grid-area: d;
        }

        input:nth-of-type(6) {
          grid-area: b;
        }
      }
    }

    &__or {
      width: 70%;
      margin-inline: auto;
      text-align: center;
      font-family: 'Museo';
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 150%;
    }
  }

  .ticket_button {
    position: relative;
    bottom: -4rem;
    color: white;
    text-decoration: none;

    .red_pill {
      height: 5rem;
      width: fit-content;
      background: #f8294f;
      padding-inline: 2rem;
      border-radius: 2.5rem;
      box-shadow: 0 0 0 1rem #97787C20,
        0 0 1rem 1.5rem #97787C20;
      margin: auto;
      font-size: 1.5rem;
      font-variation-settings: 'wght' 600;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        padding-inline-end: 1rem;
      }

      span {
        opacity: 0.5;
        padding: 0.25rem;
        position: relative;
        bottom: -3px;
      }
    }

    .blue_thing {
      height: 1.5rem;
      width: fit-content;
      background: #2f2b3c;
      padding: 0.25rem 1rem;
      border-radius: 0 0 1rem 1rem;
      margin: auto;
      font-size: 0.75rem;
      font-variation-settings: 'wght' 500;
    }
  }

  .contact {
    width: 100%;
    max-width: 60rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    &__title {
      color: #f8294f;
      font-family: 'Maven';
      font-size: 1.5rem;
      margin-block-start: 2rem;
      margin-block-end: 2rem;
    }

    &__form {
      display: flex;
      flex-direction: column;

      label {
        display: none;
      }

      input {
        padding: 0.5rem 0rem;
        border: none;
        border-block-end: 2px solid #EAEAEA;
        margin-block-end: 1rem;

        &::placeholder {
          color: #000;
          font-family: 'Maven';
          font-size: 1.25rem;
        }

        &:nth-of-type(5) {
          height: 8rem;
          border: 2px solid #EAEAEA;
          padding: 1rem;
          margin-block-start: 1rem;

          &::placeholder {
            font-size: 1rem;
          }
        }

        &:last-of-type {
          color: #fff;
          border: 1px solid #f8294f;
          border-radius: 4rem;
          padding-block: 1rem;
          background: #f8294f;
          font-family: 'Maven';
          font-size: 1.5rem;
          font-variation-settings: 'wght'600;
          text-transform: lowercase;
          width: 100%;
          margin-block: 1rem;
          box-shadow: 0 0 1rem 1rem #f8294f20;
        }
      }

      @media (min-width: 36rem) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "f n"
                             "m m"
                             "o o"
                             "c c"
                             "b b";
        gap: 0 2rem;

        input:nth-of-type(1) {
          grid-area: f;
        }

        input:nth-of-type(2) {
          grid-area: n;
        }

        input:nth-of-type(3) {
          grid-area: m;
        }

        input:nth-of-type(4) {
          grid-area: o;
        }

        input:nth-of-type(5) {
          grid-area: c;
        }

        input:nth-of-type(6) {
          grid-area: b;
          width: 60%;
          padding-inline: 1rem;
          margin-inline: auto;
        }
      }
    }
    @media (min-width: 36rem) {
      width: 70%;
      margin-inline: auto;
    }
  }
}