:root {
  --bg-color: #fff;
  --bg-color-variant: #f8f8f8;
  --footer-color: #2f2b3c;
  --contrast-color: #f8294f;
  --text-color: #000;
  --text-color-variant: #2f2b3c;
  --text-color-light: #fff;
  --text-color-light-variant: #e5d2c3;
  --media-tablet: 36rem;
  --media-desktop: 48rem;
}