@import "default.scss";
@import "variables.scss";
@import "layout.scss";
@import "webfonts.scss";
@import "reset.scss";

*, *::before, *::after {
    box-sizing: border-box;
}
h1, h2, h3, h4, p {
    margin: 0;
}

body {
    font-family: 'Maven';
    font-variation-settings: 'wght'300;
    margin: 1rem;
    background-color: #f8f8f8;
}

header {
    width: 100%;
    max-width: 60rem;
    margin: auto;
    nav {
        display: flex;
        justify-content: space-between;
        ul {
            list-style-type: none;
            display: flex;
        }
    }
    .hero {
        height: 10rem;
        background-color: #f8294f;
        display: grid;
        grid-template-areas: "t";
        align-items: end;
        margin-top: 4rem;
        color: white;
        img {
            grid-area: t;
            justify-self: center;
            position: relative;
            bottom: 57px;
        }
        .text {
            grid-area: t;
            position: relative;
            bottom: 27px;
            padding: 2rem;
            h1 {
                font-family: 'Museo';
                font-weight: 600;
                font-size: 2.75rem;
            }
            p {
                display: none;
            }
        }
        @media (min-width: 36rem) {
            grid-template-columns: 1fr 2fr;
            .text {
                align-self: center;
                bottom: auto;
                grid-column: 2;
                padding: 0 3rem 2rem 0;
                h1 {
                    font-size: 2rem;
                }
                p {
                    display: inline;
                }
            }
        }
        @media (min-width: 48rem) {
            grid-template-columns: 1fr 1fr;
        }
    }
}
main {
    max-width: 60rem;
    margin: auto;
    .breadcrumb {
        display: flex;
        height: 4rem;
        align-items: center;
        color: #f8294f;
        p {
            margin-inline-start: 0.5rem;
            padding-inline-start: 0.5rem;
            border-inline-start: 1px solid #f8294f;
        }
    }
    .speakers {
        display: flex;
        flex-direction: column;
        .speaker {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1rem;
            .id {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .name-place {
                    h2 {
                        font-family: 'Museo';
                        color: #230A4D;
                        font-weight: 300;
                    }
                    p {
                        color: #f8294f;     
                        font-variation-settings: 'wght'300;
                    }
                }
                img {
                    height: 5rem;
                    border-radius: 2.5rem;
                }
            }
            .subject {
                display: none;
            }
            .hour-room {
                display: none;
            }
            a {
                display: none;
            }
            &.active {
                background-color: #f1ede8;
                .id {
                    .name-place {
                        h2 {
                            color: #f8294f;
                            &:last-of-type {
                                font-family: 'LeagueSpartan';
                            }
                        }
                        p {
                            display: none;
                        }
                    }
                    img {
                        @media (min-width: 36rem) {
                            display: none;
                        }
                    }
                }
                .subject {
                    display: flex;
                    flex-direction: column;
                }
                .hour-room {
                    display: flex;
                }
                a {
                    display: inline;
                    text-decoration: none;
                    color: red;
                    height: 2rem;
                    border: 1px solid red;
                    border-radius: 1rem;
                    text-align: end;
                }
                @media (min-width: 36rem) {
                    padding: 1rem
                }
            }
            @media (min-width: 36rem) {
                .id {
                    order: 1;
                    flex-direction: column;
                    align-items: start;
                    img {
                        order: -1;
                        width: 100%;
                        height: auto;
                        aspect-ratio: 1/1;
                        border-radius: 0;
                    }
                }
                .subject {
                    order: 3;
                }
                .hour-room {
                    order: 2;
                }
                a {
                    order: 4;
                }
            }
        }
        @media (min-width: 36rem) {
            height: 15rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1rem;
            .speaker {
                padding: 0rem;
            }
        }
        @media (min-width: 48rem) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}