@import "reset.scss";
//@import "normalize";
@import "webfonts.scss";
@import "default.scss";
@import "variables.scss";
@import "layout.scss";

@import "header.scss";
@import "main.scss";
@import "footer.scss";

body {
  font-family: 'Maven';
  font-variation-settings: 'wght' 400;
  margin: 0;
  background: var(--bg-color);
  color: var(--text-color-variant);
}

strong {
  font-variation-settings: 'wght' 600;
}

em {
  font-style: normal;
  color: var(--text-color-light-variant);
}